:root {
    --primary-color: #ffd300;
    --secondary-color: #a2d254;
    --primary_gradient-color: linear-gradient(90deg, #a2d254, #ffd300);
    /* --secondary_gradient-color: ; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #141414;

}

body a {
    text-decoration: none;
}

/* Header css Start */
.Header {}

.Header .navbar-brand .logo {
    width: 200px;
    height: auto;
}

.Header .headerbutton {
    background: transparent;
    border: 2px solid var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

/* .Header .headerbutton:hover {
    background: var(--primary_gradient-color);
} */

/* Header css End */
/* Hero Section css Start */
.Hero_Section {
    background-image: linear-gradient(#04040433, #21252903), url(../images/homepage/herosection.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 70vh;
    padding: 20px 0px;
}

.Hero_Section .hero_Heading {
    font-size: 56px;
    font-weight: 700;
    color: white;
    font-family: sans-serif;
}

.Hero_Section .sub_heading {
    font-size: 26px;
    color: white;
    font-weight: 600;
}

.Hero_Section .card {
    /* background: linear-gradient(90deg, #0009 1%, #0000 96.95%), url(../images/homepage/cardimagehero.png); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    border-radius: 15px;
    background: #ffffff1f;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.Hero_Section .card .card-heading {
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    color: #fff;
    margin: 10px;
}

.Hero_Section .card .card-perograph {
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #ebebf599;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 18px;
}

.Hero_Section .card .buttonlist {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.Hero_Section .card .buttonlist li {
    width: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 6px 8px;
    background: #6c6c6c73;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    min-height: 50px;

}

.Hero_Section .card .buttonlist li .tophed {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
}

.Hero_Section .card .buttonlist li .bottomp {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #ebebf599;
}

/* Farm And People Section Start */
.Farm_People_Section {}

.Farm_People_Section .heading {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 600;
}

.Farm_People_Section .inputpart {
    position: relative;
    min-width: 266px;
}

.Farm_People_Section .inputpart .icon {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Farm_People_Section .inputpart input {
    padding-left: 40px;
    width: 100%;
    background-color: transparent;
    border-radius: 30px;
    border-color: #424141;
    color: white;
    height: 45px;
    font-size: 14px;
    box-shadow: none;
}

.Farm_People_Section .inputpart input::placeholder {
    color: #7b7a7a;
}

.Farm_People_Section .tabssec {
    background-color: #272727;
    border-radius: 30px;
    padding: 6px 10px;
    height: 45px;
}

.Farm_People_Section .tabssec .nav {
    border-radius: 30px;
}

.Farm_People_Section .tabssec .nav .nav-item {}

.Farm_People_Section .tabssec .nav .nav-item {}

.Farm_People_Section .tabssec .nav .nav-link {
    border-radius: 30px;
    padding: 6px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #9C9CA2;

}

.Farm_People_Section .tabssec .nav .nav-link.active {
    background: var(--primary_gradient-color);
    color: #000000;
}

.Farm_People_Section .buttonsec {
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
    padding: 5px 16px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.Farm_People_Section .buttonsec .nav-pills {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    margin-bottom: 0;
}

.Farm_People_Section .buttonsec .nav-pills .nav-item {
    padding: 0;
    background: transparent;
}

.Farm_People_Section .buttonsec .nav-pills .nav-item .nav-link.active {
    background-color: transparent;
}

.Farm_People_Section .buttonsec .nav-pills .nav-item .nav-link {
    padding: 0;
}

.Farm_People_Section .buttonsec:hover {
    background: #272727;
}


/* List Card start */
.Farm_People_Section .listcard {
    border-radius: 10px;
    background: #1D232E;
    text-decoration: none;
}

.Farm_People_Section .listcard .iconimage {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Farm_People_Section .listcard .contectsec .heading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.Farm_People_Section .listcard .contectsec .heading span {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Farm_People_Section .listcard .contectsec .heading span svg {
    width: 100%;
    height: 100%;
}

.Farm_People_Section .listcard .contectsec ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.Farm_People_Section .listcard .contectsec ul li {
    background-color: #32394E;
    font-size: 14px;
    color: var(--primary-color);
    padding: 6px 10px;
    border-radius: 8px;

}

.Farm_People_Section .listcard .stats {}

.Farm_People_Section .listcard .stats .tvf-stats {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.Farm_People_Section .listcard .stats .tvf-stats .buttontextGroup {
    font-size: 14px;
    color: #FFF3D4;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 0.5rem;
    font-weight: 600;
}

.Farm_People_Section .listcard .stats .tvf-stats .buttontextGroup .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Farm_People_Section .listcard .stats .tvf-stats .buttontextGroup .lasttext {
    font-size: 12px;
    color: #616771;
    font-weight: 500;
}

/* List Card End */

/* Samll Card start css */
.Farm_People_Section .smallcard {
    border-radius: 20px;
    position: relative;
    text-decoration: none;
}

/* .Farm_People_Section .smallcard .card1:hover{
    transform:scale(1);
}
.Farm_People_Section .smallcard .card1{
    transform:scale(1.1);
} */
.Farm_People_Section .smallcard .card1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/homepage/smallcardimage.svg);
}

.Farm_People_Section .smallcard .card2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/homepage/banner.png);
}

.Farm_People_Section .smallcard .card3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/homepage/banner2.png);
    object-fit: cover;
}

.Farm_People_Section .smallcard .card4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/homepage/banner3.png);
}

.Farm_People_Section .smallcard .card1,
.Farm_People_Section .smallcard .card2,
.Farm_People_Section .smallcard .card3,
.Farm_People_Section .smallcard .card4 {
    overflow: hidden;
    transition: all .4s ease-in-out;
    border-radius: 16px;
    background-repeat: no-repeat;
}


.Farm_People_Section .smallcard .image_Heading {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.Farm_People_Section .smallcard .image_Heading .Small_Card_Heading {
    font-size: 16px;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.Farm_People_Section .smallcard .image_Heading .Small_Card_Heading .firicon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Farm_People_Section .smallcard .card_icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Farm_People_Section .smallcard .SmallCardlistButton {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}

.Farm_People_Section .smallcard .SmallCardlistButton li {
    font-size: 14px;
    color: var(--primary-color);
    padding: 6px 10px;
    border-radius: 8px;
    background: #6c6c6c73;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.Farm_People_Section .smallcard .stats {}

.Farm_People_Section .smallcard .stats .tvf-stats {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.Farm_People_Section .smallcard .stats .tvf-stats .buttontextGroup {
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 0.5rem;
    font-weight: 600
}

.Farm_People_Section .smallcard .stats .tvf-stats .buttontextGroup .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Farm_People_Section .smallcard .stats .tvf-stats .buttontextGroup .lasttext {
    font-size: 12px;
    color: var(--primary-color);
    font-weight: 500;
}

.Farm_People_Section .smallcard .button_image_Box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Farm_People_Section .smallcard .button_image_Box .viewbtn {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: auto;
    background: var(--primary_gradient-color);
    color: white;
    font-size: 16px;
    font-weight: 600;
    gap: 0.3rem;
}

.Farm_People_Section .smallcard .button_image_Box .imagelist {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.Farm_People_Section .smallcard .button_image_Box .imagelist>*:not(:first-child) {
    margin-left: -7px;
}

.Farm_People_Section .smallcard .button_image_Box .imagelist li {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Small Card Css End */
.buttonImagesec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttonImagesec .viewbtn {
    background: #11151C;
    color: #616771;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    border: 0;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.buttonImagesec .viewbtn:hover {
    background: #11151C;
}

.buttonImagesec .viewbtn:active {
    background: #11151C;
}

.buttonImagesec .imagelist {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0;
}

.buttonImagesec .imagelist li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.buttonImagesec .imagelist li img {
    border-radius: 50%;
}

/* Farm And People Section End */

/* Footer Css Start */
footer {
    background: linear-gradient(90deg, #0009 1%, #0000 96.95%), url(../images/footer/footersvg.svg);
}

footer .logo {
    width: 200px;
    height: fit-content;
}

footer .footerHeading {
    color: white;
    font-size: 25px;
    font-weight: 600;
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

footer .footerlist {
    list-style: none;
    padding-left: 0;
}

footer .footerlist li {
    margin-bottom: 8px;
}

footer .footerlist li a {
    color: rgb(155, 155, 155);
    font-size: 16px;
    font-weight: 500;
    overflow-wrap: break-word;
    text-decoration: none;
}

footer .footerbottomheading {
    color: white;
    font-size: 30px;
    font-weight: 600;
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

footer p {
    margin: 3px;
    color: #7d7b7b;
    font-size: 14px;
}

/* Footer Css End */
/* Page2 Css Start */
.Page2 {}

.Page2 .backtolistbtn {
    text-decoration: none;
    font-size: 14px;
    color: #fff3d4;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.Page2 .backtolistbtn:hover {
    color: var(--primary-color);
}

.Page2 .buttonGroup {
    background-color: #1d232e;
    border-radius: 30px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    padding: 8px 8px;
}

.Page2 .buttonGroup .Page2btn {
    font-size: 14px;
    color: white;
}

.Page2 .buttonGroup .Page2btn.active {
    background: var(--primary_gradient-color);
    color: black;
    border-radius: 30px;
}

.Page2 .page2Heading {
    color: #fff3d4;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.Page2 .page2Heading span {
    color: var(--primary-color);
}

.Page2 .page2perograph {
    font-size: 16px;
    color: #fff3d4;
    line-height: 29px;
}

.Page2 .linkheading {
    font-size: 20px;
    font-weight: 600;
    color: #fff3d4;
    margin-bottom: 10px;
}

.Page2 .sociallink {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.Page2 .sociallink li {
    transition: all 0.3s ease-in-out;
}

.Page2 .sociallink li:hover a i {
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.Page2 .sociallink li a {
    transition: all 0.3s ease-in-out;
}

.Page2 .sociallink li a i {
    font-size: 28px;
    color: #616771;
}

.Page2 .page2image {
    max-height: 200px;
    max-width: 500px;
    margin: auto;
}

.Page2 .nav.firstNav {
    display: flex;
}

.Page2 .nav.firstNav .nav-item {}
.Page2 .nav .nav-item:first-child .nav-link{
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}
.Page2 .nav.firstNav .nav-item:last-child .nav-link{
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}
.Page2 .nav.firstNav .nav-item .nav-link {
    background-color: #11151c !important;
    color: #616771;
    display: block;
    font-weight: 500;
    width: 100%;
    border-radius: 0;
    border: 1px solid #181e27;
}

.Page2 .nav.firstNav .nav-item .nav-link.active {
    background-color: #1d232e !important;
    color: white !important;
}

.Page2 .tabsect {}

.Page2 .tabsect .buttonGroupThree {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 10px;
}

.Page2 .tabsect .buttonGroupThree button {
    width: fit-content;
    height: 40px;
    padding: 8px 15px;
    border-radius: 8px;
    background: #1d232e;
    color: var(--primary-color);
}

.Page2 .tabsect .headingtab {
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-bottom: 15px;
}

.Page2 .tabsect .numberlist {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;

}

.Page2 .tabsect .numberlist li {
    width: 48%;
    margin-bottom: 15px;

}

.Page2 .tabsect .numberlist li .number {
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 700;
    margin-top: 5px;
}

.Page2 .tabsect .numberlist li .namenumber {
    font-size: 16px;
    color: #fff3d4;
    font-weight: 400;
}

.Page2 .tabsect .card {
    background: #11151c;
    border: 1px solid #181e27;
    border-radius: 4px;
    margin: 15px 0;
    padding: 20px;
}

.Page2 .tabsect .card .headingiconGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Page2 .tabsect .card .headingiconGroup .leftside {}

.Page2 .tabsect .card .headingiconGroup .leftside .card-heading {
    font-size: 20px;
    color: #fff3d4;
    font-weight: 600;
    margin-top: 5px;
}

.Page2 .tabsect .card .headingiconGroup .leftside p {
    font-size: 15px;
    font-weight: 500;
    color: var(--primary-color);
}

.Page2 .tabsect .card .headingiconGroup .leftside p i {
    color: #616771;
    margin-left: 5px;
}

.Page2 .tabsect .card .headingiconGroup .rightside {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Page2 .tabsect .card .headingiconGroup .rightside button {
    font-size: 25px;
    color: #616771;
    padding: 0;
}

.Page2 .tabsect .card .checkGroup {
    display: flex;
    align-items: center;
    border: 1px solid #161b24;
    background: #161b24;
    border-radius: 5px;
    overflow: hidden;
}

.Page2 .tabsect .card .checkGroup .group {
    width: 33.3337%;
    height: 50px;
}


.Page2 .tabsect .card .checkGroup .group .btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: white;
    background-color: #1d232e;
    border-color: #1d232e;
}


.Page2 .tabsect .card .checkGroup .group label {
    width: 100%;
    border-radius: 0;
    height: 40px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    height: 100%;
    color: #97989a;
}

.Page2 .tabsect .card .checkGroup .group label span svg .aggregator-logo-active {
    fill: #c9cacc;
}

.Page2 .tabsect .card .checkGroup .group label:checked span svg .aggregator-logo-active {
    fill: #c9cacc;
}


.Page2 .tabsect .card .checkGroup .group label span {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;

}

.Page2 .tabsect .card .groupbuttontext {
    margin-top: 15px;
    background-color: #161b24;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 0;

}

.Page2 .tabsect .card .groupbuttontext .leftbutton {
    display: flex;
    align-items: center;
    background-color: #1d232e;
    max-width: 150px;
    padding: 10px;
}

.Page2 .tabsect .card .groupbuttontext .leftbutton .icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page2 .tabsect .card .groupbuttontext .leftbutton .modalbtn {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.Page2 .tabsect .card .groupbuttontext .leftbutton .modalbtn .samlltext {
    font-size: 14px;
    color: #616771;
    font-weight: 400;
}

.Page2 .tabsect .card .groupbuttontext .leftbutton .modalbtn .spn2 {
    font-size: 20px;
    font-weight: 600;
    color: #fff3d4;
    text-align: start;
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.Page2 .tabsect .card .groupbuttontext .inputyGroup .form-control {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: #fff3d4;
    text-align: end;
    margin-bottom: 15px;
}

.Page2 .tabsect .card .groupbuttontext .inputyGroup .inputGroup {
    font-size: 14px;
    color: #fff3d4;
    text-align: end;
}

.Page2 .tabsect .card .groupbuttontext .inputyGroup .inputGroup span {
    color: var(--primary-color);
}

.Page2 .tabsect .card .accodeaingroup {
    background: #161b24;
}

.Page2 .tabsect .card .accodeaingroup .accordion {
    background: #161b24;
}

.Page2 .tabsect .card .accodeaingroup .accordion .accordion-item {
    background: #161b24;
}

.Page2 .tabsect .card .accodeaingroup .accordion .accordion-item .accordion-header {
    background: #161b24;
}

.Page2 .tabsect .card .accodeaingroup .accordion .accordion-item .accordion-header .accordion-button.collapsed {
    background: #161b24;
}

.Page2 .tabsect .card .accodeaingroup .accordion .accordion-item .accordion-header .accordion-button .textAccGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}

.Page2 .tabsect .card .accodeaingroup .accordion .accordion-item .accordion-header .accordion-button .textAccGroup .text {
    font-size: 13px;
    color: #fff3d4;
}

.Page2 .tabsect .card .accodeaingroup .accordion .accordion-item .accordion-header .accordion-button .textAccGroup .text span {
    font-size: 12px;
    color: #616771;
}

.Page2 .tabsect .card .accodeaingroup .accordion .accordion-button {
    background: none;
    box-shadow: none;
    border: none;
    color: #fff;
}

.Page2 .tabsect .card .accodeaingroup .accordion .accordion-button::after {
    filter: invert(1);
}

.Page2 .tabsect .card .accodeaingroup .accordion .accordion-body span {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

.Page2 .tabsect .card .accodeaingroup .accordion .accordion-body span a:hover {
    color: #ffd300 !important;
}

.Page2 .tabsect .card .walletbtn {
    background: var(--primary_gradient-color);
    width: 100%;
    height: 55px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
}


/* Tab2 section in */
.tab2buttonGroup {
    width: 100%;
}

.tab2buttonGroup .nav {
    width: 100%;
    background: #1d232e;
    overflow: hidden;
    border-radius: 10px;
}

.tab2buttonGroup .nav .nav-item {
    width: 50%;
    height: 50px;
}

.tab2buttonGroup .nav .nav-item .nav-link {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #616771;
    transition: all 0.3s ease-in-out;
    background: #1d232e;
    border-radius: 0;
    height: 100%;
}

.tab2buttonGroup .nav .nav-item .nav-link:hover {
    color: white;
}

.tab2buttonGroup .nav .nav-item .nav-link.active {
    background: var(--primary_gradient-color);
    color: black;
}

.Page2 .tabsectV3Liquidtiy {}

.Page2 .tabsectV3Liquidtiy .card {
    background: #11151c;
    border: 1px solid #181e27;
    border-radius: 4px;
    margin: 15px 0;
    padding: 20px;
}

.Page2 .tabsectV3Liquidtiy .card .headingiconGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Page2 .tabsectV3Liquidtiy .card .headingiconGroup .leftside {}

.Page2 .tabsectV3Liquidtiy .card .headingiconGroup .leftside .card-heading {
    font-size: 20px;
    color: #fff3d4;
    font-weight: 600;
    margin-top: 5px;
}

.Page2 .tabsectV3Liquidtiy .card .headingiconGroup .leftside p {
    font-size: 15px;
    font-weight: 500;
    color: #616771;
}

.Page2 .tabsectV3Liquidtiy .card .headingiconGroup .rightside {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Page2 .tabsectV3Liquidtiy .card .headingiconGroup .rightside button {
    font-size: 20px;
    color: #616771;
    padding: 0;

}

.Page2 .tabsectV3Liquidtiy .card .headingiconGroup .rightside button i {}

.Page2 .tabsectV3Liquidtiy .card .checkheading {
    background: #1d232e;
    border-radius: 3px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Page2 .tabsectV3Liquidtiy .card .checkheading .Inheading {
    font-size: 17px;
    font-weight: 500;
    color: #fff3d4;
    font-family: "Noto Sans Display", sans-serif;
}

.Page2 .tabsectV3Liquidtiy .card .checkheading .checkicon {
    color: #4cc35b;
}

.Page2 .tabsectV3Liquidtiy .card .iconImageSwippeGroup {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 15px;
}

.Page2 .tabsectV3Liquidtiy .card .iconImageSwippeGroup .leftcontent {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.Page2 .tabsectV3Liquidtiy .card .iconImageSwippeGroup .leftcontent .iconimage {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page2 .tabsectV3Liquidtiy .card .iconImageSwippeGroup .leftcontent .tokenheadmodalbtn {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.Page2 .tabsectV3Liquidtiy .card .iconImageSwippeGroup .leftcontent .tokenheadmodalbtn .headingmod {
    font-size: 13px;
    color: #616771;
}

.Page2 .tabsectV3Liquidtiy .card .iconImageSwippeGroup .leftcontent .tokenheadmodalbtn .pandletext {
    font-size: 15px;
    font-weight: 600;
    color: #fff3d4;
    text-align: start;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.Page2 .tabsectV3Liquidtiy .card .iconImageSwippeGroup .swippebtn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1d232e;
    border-radius: 6px;
    cursor: pointer;
}
.Page2 .tabsectV3Liquidtiy .card .iconImageSwippeGroup .swippebtn i{
    color: var(--primary-color);
}

.Page2 .tabsectV3Liquidtiy .card .iconImageSwippeGroup .rightcontent {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.Page2 .tabsectV3Liquidtiy .card .iconImageSwippeGroup .rightcontent .iconimage {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page2 .tabsectV3Liquidtiy .card .iconImageSwippeGroup .rightcontent .tokenheadmodalbtn {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.Page2 .tabsectV3Liquidtiy .card .iconImageSwippeGroup .rightcontent .tokenheadmodalbtn .headingmod {
    font-size: 13px;
    color: #616771;
}

.Page2 .tabsectV3Liquidtiy .card .iconImageSwippeGroup .rightcontent .tokenheadmodalbtn .pandletext {
    font-size: 15px;
    font-weight: 600;
    color: #fff3d4;
    text-align: start;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.Page2 .tabsectV3Liquidtiy .card .tablist{
    margin-top: 15px;
}
.Page2 .tabsectV3Liquidtiy .card .tablist .nav{
    display: flex;
    align-items: center;
}
.Page2 .tabsectV3Liquidtiy .card .tablist .nav .nav-item{}
.Page2 .tabsectV3Liquidtiy .card .tablist .nav .nav-item .nav-link{
    background-color: #1d232e;
    border-color: transparent;
    color: #616771;
    min-width: 150px;
    height: 40px;
    border-radius: 0;
    padding: 0;
}
.Page2 .tabsectV3Liquidtiy .card .tablist .nav .nav-item .nav-link:hover{
    color: white;
}
.Page2 .tabsectV3Liquidtiy .card .tablist .nav .nav-item .nav-link.active{
    background-color: #f58b00;
    color: #11151c;
}
.Page2 .tabsectV3Liquidtiy .card .tablist .Menualtab .cardgrouptext{
    background: #161b24;
    border:1px solid #1d232e;
    border-width: 2px !important;
    padding: 0;

}
.Page2 .tabsectV3Liquidtiy .card .tablist .Menualtab .cardgrouptext .card-body{
    padding: 7px;
}
.Page2 .tabsectV3Liquidtiy .card .tablist .Menualtab .cardgrouptext  .menualHeading{
    font-size: 14px;
    color: #616771;
    margin-bottom: 5px;
    
}
.Page2 .tabsectV3Liquidtiy .card .tablist .Menualtab .cardgrouptext  .subHeadinM{
    color: #fff3d4;
    font-size: 13px;
}
.Page2 .tabsectV3Liquidtiy .card .tablist .Menualtab .cardgrouptext  .buttongrp{
display: flex;
align-items: center; 
gap: 0.5rem;
background-color: #11151c;
border-radius: 3px;
height: 40px;
justify-content: center;
}
.Page2 .tabsectV3Liquidtiy .card .tablist .Menualtab .cardgrouptext  .buttongrp button{
    padding: 0;
    font-size: 14px;
    color: #616771;
    border-radius: 3px;
    height: 30px;
    width: fit-content;
    padding: 0 5px;
}
.Page2 .tabsectV3Liquidtiy .card .tablist .Menualtab .cardgrouptext .buttongrp button.active{
    background: #1d232e;
    color: #fff3d4;
}

.Page2 .tabsectV3Liquidtiy .card .tablist .Menualtab .GroupMenualTab{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-top: 10px;
    background: transparent;
}
.Page2 .tabsectV3Liquidtiy .card .tablist .Menualtab .GroupMenualTab button{
    font-size: 14px;
    background-color: #1d232e;
    border-color: #1d232e;
    color: #fff3d4;
    border-radius: 5px;
    border: 1px solid;
    border-color: #1d232e;
    transition: all 0.3s ease-in-out;
}
.Page2 .tabsectV3Liquidtiy .card .tablist .Menualtab .GroupMenualTab button:hover{
    background: #29303d;
}
.Page2 .tabsectV3Liquidtiy .card .tablist .Menualtab .GroupMenualTab button.select{
    border-color: var(--primary-color);
    color: var(--primary-color);
}
.Page2 .tabsectV3Liquidtiy .card .tablist .Menualtab .incressdicresssec{}








.btncONNECTwALLET{
    border-radius: 8PX;
    background: var(--primary_gradient-color);
    color: black;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 40px;
    
}
.Graph{
    height: 400px;
    width: 400px;
}
/* Page2 Css End */